/*!
 * @Project: ObjetB 미니멀 쇼핑몰 
 * @Author: [임상빈]
 * @Organization: [MBC컴퓨터 아카데미 수원점]
 * @Copyright: 2026 [임상빈]. All rights reserved.
 * @Version: 1.0.0

* [이미지 저작권 안내]
 * 본 사이트는 개인 역량 평가를 위한 구직/포트폴리오 용도로 제작되었습니다.
 * 사용된 모든 이미지는 핀터레스트 등의 외부 플랫폼에서 가져온 것으로, 
 * 오직 비상업적인 연구 및 레이아웃 구현 목적으로만 사용되었습니다.
 * 모든 이미지의 원저작권은 최초 창작자에게 있습니다.
 */
 

/* CSS 전체초기화 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* 목록 스타일 제거 */
ul, ol {
  list-style: none;
}

/* 링크 스타일 제거 */
a {
  text-decoration: none;
  color: inherit; /* 부모의 색상을 따라감 */
}

/* 전체 폰트 가져오기*/
body {
  font-family:'Pretendard', sans-serif; /* 피그마폰트 적용 */
}

/*헤더 공통작업*/
.main-container {
 display: flex; 
 justify-content: space-between;
 max-width: 1200px; /* max-width: 1200px은 웹 표준 margin: 0 auto; +  width: 100%; 세트*/
 margin: 0 auto;
 padding: 8px 18px;
 width: 100%;
 align-items: center;
 height: 80px;
}

.main-container > ul {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container > nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.main-header {
  border-bottom: 1px solid #ccc;
}

.main-nav {
  display: flex; 
  gap: 30px;
}

/*푸터 공통 작업*/

/*푸터 전체 컨테이너*/
.footer-wrapper {
  width: 100%;
  padding: 40 50px;
  border-top: 1px solid #666 ;
  background: #f5f5f5;
}
/*왼쪽,오른쪽,가운데 정렬을 하는 핵심 설정*/
.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px; /* 1200이 아닌 1400을 주는 이유는 모니터해상도 최대 1400인 경우가 많고 1200보다 시원하게 떨어짐*/
  margin: 0 auto; /*앞의 위아래 값 0, 뒤의 좌우 auto(가운데정렬) !! max-width나 width 값을 줘야 설정값 줄수있음. */
}
/*왼쪽 구역*/
.footer-left .footer-desc {
  margin: 5px 0;
  font-size: 14px;
  color: #333; 
}
/*가운데 구역*/
.footer-middle {
  text-align: left;
}
.footer-middle .nav-title {
  margin-bottom: 8px;
  text-align: center;
}
.footer-middle .sub-nav {
  padding: 0;
  margin: 0 0 8px 0;
  text-align: center;
}
.footer-middle .sub-nav li {
  margin-bottom: 7px;
}
.footer-middle .sub-nav a {
  font-size: 16px;
  color: #333;
}
.footer-middle .nav-shop-desc {
  display: block; /*span 태그는 기본적으로 inline 속성을 가지고 있어서 옆에 다른 글자나 태그가오면 붙으려함 그래서 block설정*/
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.footer-copy {
  text-align: right;
  color: #666;
  font-size: 14px;
  white-space: nowrap; /*줄바꿈 방지*/
}

