/*상품 영역*/
.detail-container {
    display: flex; /*세로구조 가로로 배치*/
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /*가운데 정렬*/
    padding: 40px 40px;
}
/*왼쪽 이미지 크기 조절*/
.detail-visual {
    width: 400px; /* 부모 상자의 너비를 400px로 고정 */
}
.detail-img-wrap img, .model-img-wrap img{
    width: 100%;
    height: 400px;
    background-color: #f5f5f5; /*이미지 추가시 컬러 삭제*/
    object-fit: cover; 
    margin-top: 20px;
}
/*오른쪽 폼 전체*/
.detail-info-area {
    margin-top: 20px;
}
/*상품명(블랙 데님 화이드 스트레이트 진)*/
.product-title {
    font-size: 24px;
    font-weight: 400px;
    margin-bottom: 20px;
}
/*상품 가격*/
.product-price {
    font-size: 18px;
    font-weight: 600px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
/*상품 정보*/
.product-text {
    font-weight: 200;
    font-size: 16px;
    margin-top: 20px;
}
/*필터 설정*/
.option-group {
    margin-bottom: 20px;
}
.color-title {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.size-title{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.color-options, .size-options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*flex랑 같이 쓰며 한 줄로 제한되는지 줄바꿈이 되는지를 지정해줄 수 있음.(공간을 다 차지하면 한 줄로 감싸서 다음줄로)*/
}
/*라디오 버튼 설정*/
.color-input, .size-input{
    display: none; /*버튼은 존재하나 화면상에서 지우게 보여짐*/
}
.option-btn {
    display: inline-block; /*span태그들 컬러 선택 사이즈선택을 줄 바꿈 옆으로 배치*/
    padding: 8px 16px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease; /*마우스를 갖다대면 0.2동안 btn에 모든속성들이 느리게->빠르게 효과(hover로 연결)*/
}
/* 선택되었을 때의 스타일 활성화 */
.color-input:checked + .option-btn, 
.size-input:checked + .option-btn {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
/*사이즈 가이드 버튼*/
.size-guide {
    margin: 15px 0 25px; 
}
.size-btn {
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
    color: #666;
    padding: 0;
}
/*장바구니 버튼*/
.product-cart {
    margin-bottom: 30px;
}
.cart-btn {
    width: 100%;
    padding: 15px 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 500; /*폰트 굵기 100: Thin(아주가늘게), 300: Light(가늘게), 400: Regular(기본), 500:medium(중간), 600 semibold(조금 굵게), 700 bold(굵게)*/
    cursor: pointer;
    transition: background-color 0.2s;
}
.cart-btn:hover {
    background-color: #333;
}
/* 본문 텍스트 */
.product-text {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    font-weight: 300;
    margin-top: 20px;
    text-align: left; /* 중앙 정렬 대신 자연스러운 좌측 정렬 */
}
/*사이즈 가이드바 전체 설정*/
.guide-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
     /*디자인*/
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); /*그림자 경계*/
    z-index: 9999; /*position 속성(absolute, relative, fixed, sticky 등)이 함께 지정되어야 사용가능 상단 배치*/
    /* 기본상태*/
    /*사이드바 숨김 설정*/
    transform: translate(100%); /*오른쪽으로 쭉 밈*/
    /*내부 레이아웃*/
    display: flex;
    flex-direction: column;
}
/*가이드 오픈 일 때 */
.guide-sidebar.open {
    transform: translate(0);
}
/* 사이드바 내부 헤더 (타이틀과 닫기 버튼 양끝 배치) */
.size-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 16px;
}
.size-sidebar-header h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.size-close-btn {
    background: none;
    border: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.size-grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
/* 표의 최상단 헤더 칸(Size, Pants...) */
.grid-th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #000;
    padding: 14px 10px;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
/* 표의 데이터 칸 (XXS, 34, 28...) */
.grid-td {
    padding: 14px 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
/*첫 글자 강조*/
.size-grid-table .grid-td:nth-child(3n+1) {
    font-weight: 500;
    color: #000;
}
/*장바구니 사이드바 전체 설정*/
.cart-sidebar {
    /*크기 및 위치 조절*/
    position: fixed; /*페이지를 스크롤해도 고정시키는 설정*/
    top: 0;
    right: 0; /*오른쪽 상단 고정*/
    width: 360px; /*360으로 고정*/
    height: 100vh;
    /*디자인*/
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); /*그림자 경계*/
    z-index: 9999; /*position 속성(absolute, relative, fixed, sticky 등)이 함께 지정되어야 사용가능 상단 배치*/
    /* 기본상태*/
    /*사이드바 숨김 설정*/
    transform: translate(100%); /*오른쪽으로 쭉 밈*/
    /*내부 레이아웃*/
    display: flex;
    flex-direction: column;
}
/*장바구니 담기 오픈 일 떄 (JS)*/
.cart-sidebar.open {
    transform: translate(0); /*제자리로 돌아옴*/
}
/*사이드바도 header footer를 나눠 놨기 때문에 form자체에도 display flex를 줘야함*/
.cart-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}
/*장바구니 사이드바 헤더 설정*/
.cart-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border: 1px solid #eee;
}
.cart-sidebar-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}
.cart-close-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #222;
}
/*장바구니 컨텐츠 영역*/
.cart-sidebar-body {
    flex: 1; /*1:1:1 비율 한칸차지*/
    padding: 24px;
    overflow-y: auto; /* 내용이 길어지면 스크롤 생김 */
}
/*내부 이미지 조절*/
/*이미지 박스 설정*/
.card-item-img-wrap {
    width: 100%;
    height: 300px;
    background-color: #d5d5d5;
    overflow: hidden; /*이미지가 박스를 벗어나면 잘라버림*/
}
/*자식 이미지 설정*/
.card-item-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*이미지 잘림방지*/
}
/*내부 텍스트*/
.card-item-info {
    /* display: block; 기본적으로 div태그, h2태그, p태그는 block성질을 가지고 있음*/
    margin-top: 20px;
}
.card-item-info h4 {
    font-size: 20px;
    margin-bottom: 8px;
}
.card-item-info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
}
/*하단 푸터 고정 스타일 (버튼 영역) */
.cart-sidebar-footer {
    padding: 28px;
    margin: 0 10px;
    border-top: 1px solid #000;
    background-color: #fff; /* 내용물이 스크롤되어 내려갈 때 비치지 않게 가려줌 */
}
/*결제 취소 버튼 디자인*/
.buy-checkout-btn, .cancel-checkout-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 16px;
}
.buy-btn {
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
    background-color: #000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
.buy-btn:hover {
    background-color: #333333;
}
 .cancel-btn {
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: 700;
 }
 .cancel-btn:hover {
    background-color: #e5e5e5;
 }
/*중간 그리드 이미지 설정*/
.grid-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto 40px;
    padding: 0 20px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.product-grid img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background: #f5f5f5;
}
.grid-item-name {
    display: block;
    margin-top: 10;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-align: center;
}