/*마이 페이지 전체 컨테이너 */
.mypage-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
/*사용자 정보 (div)영역*/
.user-info {
    display: flex; /*div는 block속성이므로 flex를 주고 align-itmes: center로 정렬*/
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
/*적립금 영역*/
.user-benefits {
    border-bottom: 1px solid #666;
    margin-top: 20px;
}
/*버튼 수정*/
.btn-edit-profile {
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    color: #333;
}
.benefit-list {
    display: grid; /*3개가 고정이고 꽉찬 레이아웃을 주기 위해 grid사용 */
    grid-template-columns: repeat(3, 1fr); 
    /* display: flex; 
    justify-content: center;
    gap: 60px;  flex를 줘봤으나 깔끔하게 꽉차지 않아서 grid를 사용했지만 만약 리스트가 4개,혹은 5개 이상일 시 flex사용 + flex: 1을 자식한테줘서 1:1:1비율 만들어도됨*/
    background: #bbb;
    padding: 20px 0;
}
.benefit-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #333;
}
/*본문 레이아웃 영역*/
.mypage-content-section {
    margin-top: 40px;
}
.mypage-nav {
    margin-top: 40px; 
}
.mypage-grid-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nav-list, .sub-nav-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}
/*광고 배너 영역*/
.promo-banner{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background: #666;
    overflow: hidden; /*부모의 크기요소를 벗어나면 삭제함*/
}
.promo-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.promo-banner a {
    display: block;
    width: 100%;
    height: 100%;
}
/*푸터랑 여백주기*/
.sub-nav {
    margin-bottom: 40px;
}