/*결제 영역*/
h2 {
    margin-bottom: 20px;
}
/*전체 컨테이너 사이즈*/
.payment-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 40px 20px;
    gap: 40px;
}
/*왼쪽 영역*/
.checkout-left {
    flex: 1;
    display: flex; /*한줄 정렬*/
    flex-direction: column; /*세로 정렬*/
    gap: 40px;
}
.checkout-left section {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 30px;
}
/*배송 정보 영역*/
.address-header {
    display: flex; /*각각 여백을 준 뒤 한 줄 나열*/
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.address-badge {
    background: #f3f3f3;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
}
.btn-change-address {
    margin-left: auto; /*auto 속성을 주면 왼쪽에서 쭉 밀려남*/
    background: none;
    border: 1px solid #333;
    padding: 6px 12px;
    cursor: pointer;
}
.address-detail {
    line-height: 1.7;
    color: #333;
}
/*주문 상품 영역*/
.order-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start; /*아이템들을 주 축에 시작에서 정렬*/
}
.order-img-wrap img {
    height: 150px;
    width: 150px;
    background: #d5d5d5;
    object-fit: cover;
    margin-bottom: 10px;
}
.order-info-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-options {
    padding: 0;
    margin: 0;
    color: #777;
    font-size: 14px;
}
.product-options li {
    display: inline-block; /*li태그 block성질이므로 inline-block으로 가로 한줄 처리*/
}
/*product-options(부모)요소에서 내부 li(자식) 선택 하되 마지막 li태그는 제외, 선택된 li태그에 요소생성 */
.product-options li:not(:last-child)::after {
    content: "|"; /*생성된 요소에 | 붙힘*/
    margin: 0 6px;
    color: #ccc;
}
.coupon-btn, .benefit-btn {
    background: none;
    border: 1px solid #333;
    padding: 6px 12px;
    cursor: pointer;
}
/*결제 수단 영역*/
.payment-container ul {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}
.payment-container ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-interest-free {
    background: none;
    border: 1px solid #333;
    padding: 6px 12px;
    cursor: pointer;
}
.change-btn {
    background: none;
    border: 1px solid #333;
    padding: 6px 12px;
    cursor: pointer;
}
/*오른쪽 결제 영역*/
.checkout-sidebar {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 1px solid #d5d5d5;
    padding-left: 40px;
}
.amount-container {
    background: #f9f9f9;
    padding: 14px;
}
/*상품 금액 리스트*/
.amount-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
}
.amount-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*50% 할인 영역*/
.total-through {
    text-decoration: line-through;
    color: #dc134c;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}
/* 총 결제 금액 라인 */
.amount-list li:last-child {
    margin-top: 10px;
    padding-top: 16px;
    border-top: 1px dashed #d5d5d5;
    align-items: flex-end; /* 금액이 클 때 아래쪽 기준 맞춤 */
}
.amount-list .total-amount {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.amount-list li:last-child strong {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
/* 리스트 중 마지막 li만 */
.amount-list li:last-child .total-section-amount {
    display: flex; /*가로 수평 정렬*/
    align-items: center; /*세로 기준으로 가운데 정렬*/
    gap: 8px;
}
/* 3. 적립 혜택 박스 */
.reward-container {
    padding: 0 10px;
}
.reward-container h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
}
.reward-container p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin: 0;
}
.reward-container span {
    color: #000;
    font-weight: bold;
}
/* 약관 및 안내 문구 영역 */
.order-submit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.terms-box {
    background: #f5f5f5;
    padding: 16px;
    border-radius: 4px;
}
.terms-box p {
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}
.terms-box .terms-sub {
    margin-top: 8px;
    font-size: 11px;
    line-height: 1.6;
    color: #777;
    word-break: keep-all; /* 단어를 기준으로 줄 바꿈 */
}
/*결제하기 버튼*/
.btn-submit-order {
    background-color: #000;
    color: #ccc;
    border: none;
    padding: 16px 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    cursor: pointer;
    transition: background 0.2s ease; /*0.2초간 천천히 배경색 변화*/
}
.btn-submit-order:hover {
    background: #333;
}