/*배송 정보 섹션*/
.payment-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.checkout-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-right: 1px solid #e5e5e5; /*피그마 시안 기준선*/
  padding-right: 40px;
}
.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address-name {
  margin-right: 8px;
}
.address-detail {
  font-style: normal; /* address 태그 특유의 기울임꼴 제거 */
  line-height: 1.6;
}
.btn-change-address {
  text-align: right;
}
/*주문 상품 내역 섹션*/
.order-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.order-container {
  display: flex;
  gap: 24px;
}
/*상품 이미지 조절*/
.order-img-wrap {
  width: 200px;
  height: 200px;
}
.order-img-wrap img {
  width: 100%;
  height: 100%;
  background: #d5d5d5;
  object-fit: cover;
}
/*상품 상세*/
.order-info-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-options {
  padding: 0;
  margin: 0;
  color: #666;
}
.coupon-action-wrap {
  margin-top: 10px;
}
.btn-use-coupon {
  border: none;
  background-color: #bbb;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/*오른쪽 영역*/
.checkout-sidebar {
  width: 400px;
}
